@font-face {
  font-family: "demo";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype");
}
@keyframes loadingStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: relative;
  pointer-events: none;
}

.loading .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 3s 300ms linear 1 both;
  -moz-animation: loadingStart 3s 300ms linear 1 both;
  -o-animation: loadingStart 3s 300ms linear 1 both;
  animation: loadingStart 3s 300ms linear 1 both;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.loading .loading-text:after {
  content: "...";
}

.loading .loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -3.9375rem auto 0;
  color: #1a1d1d;
  text-align: center;
}

.loading .loading-icon {
  font-size: 4.8125rem;
  line-height: 5.25rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 1s steps(4) infinite;
  -moz-animation: loading 1s steps(4) infinite;
  -o-animation: loading 1s steps(4) infinite;
  animation: loading 1s steps(4) infinite;
  display: block;
  vertical-align: middle;
}

.loading .loading-icon:before {
  vertical-align: middle;
  content: "\e000";
  font-family: "demo";
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.show {
  display: block;
}

footer {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #efefef;
}

/* landing page */
.hd-alert {
  height: 80px;
  background-color: #eeeff0;
  position: relative;
}

.hd-memo {
  position: absolute;
  display: inline-block;
  color: #000;
  left: 7%;
  top: 28px;
}

.hd-alert p {
  float: right;
  width: 80%;
  color: #db4a5a;
  font-size: 15px;
  margin-top: 20px;
  padding: 0px 10px;
}

.bd {
  padding-top: 3%;
}

.memo {
  text-align: center;
  color: #8c8c8c;
  font-size: 18px;
}

.memo-fa {
  margin-top: -10px;
}

.image-wrapper {
  text-align: center;
}
.image-wrapper img {
  width: 90%;
}

.button-groups {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.button-groups .btn-go, .button-groups .button-sub-groups {
  width: 90%;
}
.button-groups .btn-go, .button-groups .btn-test, .button-groups .btn-result {
  padding: 12px;
}
.button-groups .btn-go {
  background-color: #3d9af7;
  border-color: #3d9af7;
}
.button-groups .btn-test, .button-groups .btn-result {
  background-color: #3bb9f3;
}
.button-groups .btn-test {
  float: left;
}
.button-groups .btn-result {
  float: right;
}

.button-sub-groups {
  margin-left: 5%;
  height: 60px;
}
.button-sub-groups button {
  width: 45%;
  margin: 5% 0;
  color: #fff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.button-sub-groups button:hover {
  color: #fff;
}

/* modal alert */
.modal {
  top: 2%;
}

.modal-header {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #3d9af7;
}
.modal-header h3 {
  color: #fff;
}

.modal-body {
  text-align: center;
}
.modal-body img {
  width: 50%;
}
.modal-body img.img-large {
  width: 90%;
}
.modal-body .meta {
  margin-top: 23px;
  color: #9c9c9c;
}
.modal-body .meta .p-bold {
  color: #000;
  font-size: 20px;
}

.modal-footer {
  text-align: center;
}
.modal-footer .btn-goback {
  width: 90%;
  padding: 10px;
  color: #fff;
  background-color: #3d9af7;
}

.clock {
  color: #1694ce;
}

.p-bold {
  font-size: 18px;
}

/* card style */
md-content {
  margin-top: 10px;
}

.card-wrapper {
  height: 100px;
}
.card-wrapper .left-card {
  width: 30%;
  float: left;
}
.card-wrapper .left-card img {
  width: 100%;
  height: 75px;
}
.card-wrapper .left-card img.round-conner {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.card-wrapper .left-card .btn-show-big-sample {
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  color: #fff;
  background-color: #39464a;
}
.card-wrapper .right-card {
  width: 70%;
  float: left;
  padding: 0px 20px;
}
.card-wrapper .right-card .hd-result {
  line-height: 1.4;
  font-size: 14px;
}
.card-wrapper .right-card .hd-faild {
  color: red;
}
.card-wrapper .right-card .hd-success {
  color: #0da814;
}
.card-wrapper .right-card .hd-addr {
  font-size: 12px;
  margin-bottom: 0px;
}
.card-wrapper .right-card .hd-date {
  font-weight: bold;
}

.card-hd .left-hd {
  color: #cfcece;
}
.card-hd .right-hd {
  float: right;
}

.card-bd p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
.card-bd .btn-groups {
  width: 110%;
}
.card-bd button {
  position: relative;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  width: 80px;
  padding-left: 35px;
}
.card-bd button:hover, .card-bd button:active, .card-bd button:visited, .card-bd button:focus {
  color: #fff;
}
.card-bd button img {
  width: 30%;
  position: absolute;
  left: 8px;
  top: 5px;
}
.card-bd .btn-snap-photo {
  background-color: #3d9af7;
}
.card-bd .btn-resnap-photo {
  background-color: #fb7171;
}
.card-bd .btn-disable {
  background-color: #cacaca;
}

.upload-footer {
  text-align: center;
}
.upload-footer p {
  color: #626262;
  font-size: 12px;
  margin-top: 10px;
}
.upload-footer .btn-upload {
  width: 95%;
  color: #fff;
  background-color: #3d9af7;
  padding: 10px;
}

#hidden-input {
  width: 0px;
}

/* upload submit modal */
.modal-meta {
  text-align: left;
  text-indent: 2em;
}

.modal-bold {
  color: #1694ce;
  font-weight: bold;
  font-size: 17px;
}

.img-groups img {
  width: 30%;
}

/* mobile page */
.mobile-page span {
  display: block;
  padding: 0px 10px 10px 10px;
  position: relative;
}
.mobile-page span.input-label {
  padding-top: 10px;
}
.mobile-page span input {
  width: 100%;
  height: 30px;
  padding-left: 30px;
}
.mobile-page span input:focus {
  border: 1px solid #3d9af7;
}
.mobile-page span img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 15px;
}
.mobile-page button {
  color: #fff;
  background-color: #3d9af7;
  width: 100%;
  margin-top: 20px;
}
.mobile-page button:hover, .mobile-page button:active, .mobile-page button:focus, .mobile-page button:visited {
  color: #fff;
}
.mobile-page .meta-wrapper {
  text-align: center;
}
.mobile-page .meta-wrapper p {
  color: #60add8;
  margin: 15px 10px 10px 0px;
}
.mobile-page .meta-wrapper p.bigger {
  color: #1694ce;
  font-size: 25px;
  margin-top: -15px;
}

/* done */
.content-wrapper p, .content-wrapper div {
  text-align: center;
  margin: 0px;
}
.content-wrapper .bold {
  color: #1694ce;
  font-size: 20px;
}
.content-wrapper .hd {
  color: #000;
  font-size: 28px;
  padding: 5px;
}
.content-wrapper .code-wrapper {
  text-align: center;
}
.content-wrapper .code-wrapper .code {
  width: 95%;
  height: 63px;
  margin: auto;
  padding: 20px;
  border: 1px solid #d2d2d2;
  background-color: #fafafa;
}
.content-wrapper .meta {
  margin-top: 20px;
  text-align: center;
}
.content-wrapper .meta .btn-submit {
  width: 95%;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #1694ce;
}
.content-wrapper .meta .btn-submit:hover, .content-wrapper .meta .btn-submit:active, .content-wrapper .meta .btn-submit:focus, .content-wrapper .meta .btn-submit:visited {
  color: #fff;
}

/* list page */
.list-search-wrapper {
  width: 95%;
  margin: auto;
}
.list-search-wrapper p {
  font-size: 16px;
  color: #347fcb;
}
.list-search-wrapper .meta {
  margin-top: 10px;
}
.list-search-wrapper .search input {
  width: 70%;
  height: 30px;
  margin-left: 1px;
}
.list-search-wrapper .search button {
  height: 30px;
  padding: 4px 12px;
  margin-top: -2px;
  margin-left: -5px;
  color: #fff;
  background-color: #6bb1f6;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* detail page */
.detail-wrapper {
  background-color: #ededed;
}
.detail-wrapper .detail-image-wrapper {
  text-align: center;
  background-color: #fff;
}
.detail-wrapper .detail-image-wrapper img {
  width: 30%;
  margin: 5% 1%;
}
.detail-wrapper .content span {
  display: block;
  padding: 10px 5%;
  font-size: 18px;
}
.detail-wrapper .content .data-span {
  color: #000;
  background-color: #fff;
}
.detail-wrapper .content .btn-call {
  padding: 6px 20px;
  color: #fff;
  background-color: #1694ce;
  margin-left: 20px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
