<!doctype html>
<html lang="en" data-ng-app="ngFurry">
  <head>
    <title>关于星冉</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- build:css static/css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.min.css" />
    <!-- endbuild -->
    <!-- build:css static/css/common.css -->
    <link rel="stylesheet" href="./static/css/common.css" />
    <!-- endbuild -->
    <script src="/xing/index.php?g=Api&m=wechat&a=about_us"></script>

    <!-- build:js static/js/vendor.js -->
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/verifyjs/dist/verify.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/hammerjs/hammer.min.js"></script>
    <script src="../bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbuild -->
  </head>
  <body data-ng-controller="AboutController">
    <div class="hd">
      <img src="./static/images/hd-logo.png" alt=""/>
      <img src="./static/images/hd.png" alt=""/>
    </div>
    <div class="bd">
      <div class="bd-banner">
        <span class="bd-banner-menu active" data-content-tab="tab_1" data-ng-click="showContentTab('tab_1')">关于星冉</span>
        <span class="bd-banner-menu" data-content-tab="tab_2" data-ng-click="showContentTab('tab_2')">琴行</span>
        <span class="bd-banner-menu" data-content-tab="tab_3" data-ng-click="showContentTab('tab_3')">调率公司</span>
        <span class="bd-banner-menu" data-content-tab="tab_4" data-ng-click="showContentTab('tab_4')">钢琴厂</span>
      </div>
      <div class="bd-content">
        <div class="bd-content-tab active" data-content-tab="tab_1">
          <span class="title">关于星冉</span>
          <p class="meta" data-ng-bind-html="target.tab_1.description"></p>
        </div>
        <div class="bd-content-tab" data-content-tab="tab_2">
          <span class="title">琴行</span>
          <p class="meta" data-ng-bind-html="target.tab_2.description"></p>
        </div>
        <div class="bd-content-tab" data-content-tab="tab_3">
          <span class="title">调率公司</span>
          <p class="meta" data-ng-bind-html="target.tab_3.description"></p>
        </div>
        <div class="bd-content-tab" data-content-tab="tab_4">
          <span class="title">钢琴厂</span>
          <p class="meta" data-ng-bind-html="target.tab_4.description"></p>
        </div>
      </div>
    </div>
  <!-- build:js static/js/app.js -->
  <script src="./static/js/source.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- endbuild -->
  </body>
</html>
