<!doctype html>
<html lang="en" data-ng-app="ngFurry">
  <head>
    <title>课程安排</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- build:css static/css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
    <!-- endbuild -->
    <!-- build:css static/css/common.css -->
    <link rel="stylesheet" href="./static/css/common.css" />
    <!-- endbuild -->
    <script src="/index.php?g=Api&m=wechat&a=get_system_options"></script>
  </head>
  <body data-ng-controller="ClassController">
    <div class="page2">
      <div class="hd">
        <img src="./static/images/hd-logo.png" alt=""/>
        <md-card class="search-card">
          <span class="card-hd">课程安排</span>
          <div class="custom-search">
            <span data-category="类别" data-ng-click="showOptions('类别')"><i class="fa fa-search"></i>类别</span>
            <span data-category="价格" data-ng-click="showOptions('价格')"><i class="fa fa-search"></i>价格</span>
            <span data-category="方向" data-ng-click="showOptions('方向')"><i class="fa fa-search"></i>方向</span>
            <span data-category="方式" data-ng-click="showOptions('方式')"><i class="fa fa-search"></i>方式</span>
            <span data-category="时间" data-ng-click="showOptions('时间')"><i class="fa fa-search"></i>时间</span>
          </div>
          <div class="search-token"></div>
          <div class="cnt-search-token">无搜索条件</div>
        </md-card>
        <md-card class="class-card">
          <div class="class-card-hd">
            <span>时间</span>
            <span>课程名称</span>
            <span>课程方向</span>
            <span>教学方式</span>
            <span>费用</span>
          </div>
          <div class="class-item" data-id="3">
            <span>周末</span>
            <span>星冉钢琴培训班</span>
            <span>成人</span>
            <span>40人大班</span>
            <span>39</span>
          </div>
          <div class="class-item" data-id="4">
            <span>周末</span>
            <span>星冉钢琴培训班</span>
            <span>成人</span>
            <span>40人大班</span>
            <span>39</span>
          </div>
        </md-card>
      </div>
    </div>
    <div class="page1">
      <div class="hd">
        <img src="./static/images/hd-logo.png" alt=""/>
        <img src="./static/images/hd.png" alt=""/>
        <div class="class-detail">
          <div class="left">
            <span class="class-title">星冉特色钢琴班</span>
            <div class="class-meta">
              <p><i class="fa fa-location-arrow"></i>课程方向:高考培训</p>
              <p><i class="fa fa-heart"></i>教学方式:20人小班</p>
              <p><i class="fa fa-heart"></i>时间:周末</p>
            </div>
          </div>
          <div class="right">
            <img src="./static/images/class.png" alt=""/>
            <span class="price">39<i class="yuan">元</i></span>
            <a href="#">立即报名</a>
          </div>
        </div>
      </div>
      <div class="bd">
        <div class="bd-banner">
          <span class="bd-banner-menu active" data-content-tab="最新活动" data-ng-click="showContentTab('最新活动')">最新活动</span>
          <span class="bd-banner-menu" data-content-tab="课程特色" data-ng-click="showContentTab('课程特色')">课程特色</span>
          <span class="bd-banner-menu" data-content-tab="课程表" data-ng-click="showContentTab('课程表')">课程表</span>
          <span class="bd-banner-menu" data-content-tab="报名流程" data-ng-click="showContentTab('报名流程')">报名流程</span>
        </div>
        <div class="bd-content">
          <div class="bd-content-tab active" data-content-tab="最新活动">
            <span class="title">最新活动</span>
            <p class="meta">XXXX</p>
          </div>
          <div class="bd-content-tab" data-content-tab="课程特色">
            课程特色
          </div>
          <div class="bd-content-tab" data-content-tab="课程表">
            课程表
          </div>
          <div class="bd-content-tab" data-content-tab="报名流程">
            报名流程
          </div>
        </div>
      </div>
    </div>

  <!-- build:js static/js/vendor.js -->
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/verifyjs/dist/verify.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/angular-material/angular-material.min.js"></script>
  <!-- endbuild -->
 
  <!-- build:js static/js/app.js -->
  <script src="./static/js/source.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- endbuild -->
  </body>
</html>
