<!doctype html>
<html lang="en" data-ng-app="ngFurry">
  <head>
    <title>加盟点</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- build:css static/css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.min.css" />
    <!-- endbuild -->
    <!-- build:css static/css/common.css -->
    <link rel="stylesheet" href="./static/css/common.css" />
    <!-- endbuild -->
    <script src="/xing/index.php?g=Api&m=wechat&a=get_system_options"></script>
    <script src="/xing/index.php?g=Api&m=wechat&a=get_locs"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=ndevzRCBU8vQqeDLBbcgT1U5"></script>

    <!-- build:js static/js/vendor.js -->
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/verifyjs/dist/verify.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/hammerjs/hammer.min.js"></script>
    <script src="../bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbuild -->
  </head>
  <body data-ng-controller="MapController">
    <div class="hd">
      <img src="./static/images/hd-logo.png" alt=""/>
      <img src="./static/images/hd.png" alt=""/>
    </div>
    <div class="bd">
      <div class="bd-banner">
        <span class="map-pomo active" data-ng-click="showPage('.page1')">加盟点地图展示</span>
        <span class="map-pomo" data-ng-click="showPage('.page2')">加盟点列表展示</span>
      </div>
      <md-content>
        <div class="page1">
          <div id="bmap"></div>
        </div>
        <div class="page2">
          <md-card data-ng-repeat="loc in locs">
            <div class="loc-title">{{ loc.title }}</div>
            <div class="loc-meta">
              <p class="description">{{ loc.description }}</div>
              <p class="addr">{{ loc.address }}</p>
            </div>
          </md-card>
        </div>
      </md-content>
    </div>
  <!-- build:js static/js/app.js -->
  <script src="./static/js/source.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- endbuild -->
  </body>
</html>
