<!doctype html>
<html lang="en" data-ng-app="ngFurry">
  <head>
    <title>团队介绍</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- build:css static/css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.min.css" />
    <!-- endbuild -->
    <!-- build:css static/css/common.css -->
    <link rel="stylesheet" href="./static/css/common.css" />
    <!-- endbuild -->
    <script src="/index.php?g=Api&m=wechat&a=get_system_options"></script>
    <script src="/index.php?g=Api&m=wechat&a=get_teams"></script>
  </head>
  <body data-ng-controller="TeamsController">
    <div class="page1">
      <div class="hd">
        <img src="./static/images/hd-logo.png" alt=""/>
        <md-card>
          <span class="card-hd">我们的优势</span>
          <img src="./static/images/teams.png" alt=""/>
        </md-card>
      </div>

      <md-card>
        <span class="card-hd">师资力量</span>

        <div class="team-card" data-ng-repeat="team in teams">
          <img src="{{ team.leader.thumb }}" alt=""/>
          <div class="team-info">
            <div class="team-info-wrapper">
              <span class="team-hd">{{ team.major }}{{ team.leader.job }} {{ team.leader.title }}</span>
              <p class="team-detail">
                {{ team.leader.description | cut:50 }}
              </p>
            </div>
            <div class="team-meta">
              <div data-ng-init="rate = team.leader.star || 3"><rating data-ng-model="rate" max="5" readonly="true"></rating></div>
              <span>共有{{ team.leader.number || 100 }}人在学</span>
              <button class="btn btn-primary btn-show-team" data-ng-click="showDetail(team.major)">查看星冉讲师团队</button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
    <div class="page2">
      <div class="hd">
        <img src="./static/images/hd-logo.png" alt=""/>
        <md-card>
          <span class="card-hd">我们的优势</span>
          <img src="./static/images/teams-v2.png" alt=""/>
        </md-card>
      </div>

      <md-card>
        <span class="card-hd">星冉钢琴讲师团队</span>

        <div class="team-card" ng-repeat="team in majorTeams">
          <img src="{{ team.thumb }}" alt=""/>
          <div class="team-info">
            <div class="team-info-wrapper">
              <span class="team-hd">{{ team.major }}{{ team.job }} {{ team.title }}</span>
              <p class="team-detail">
                {{ team.description | cut:50 }}
              </p>
            </div>
            <div class="team-meta">
              <div data-ng-init="rate = team.star || 3"><rating data-ng-model="rate" max="5" readonly="true"></rating></div>
              <span>共有{{ team.leader.number || 100 }}人在学</span>
              <button class="btn btn-primary btn-rate">点击评价</button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
    </div>

  <!-- build:js static/js/vendor.js -->
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/verifyjs/dist/verify.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script src="../bower_components/angular-material/angular-material.min.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!-- endbuild -->
 
  <!-- build:js static/js/app.js -->
  <script src="./static/js/source.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- endbuild -->
  </body>
</html>
