@import "compass/css3";
@import "overlay.scss";

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button:hover {
  @include opacity(0.8);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.hide { display: none; }
.show { display: block; }

footer {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #efefef;
}

/* landing page */
.hd-alert {
  height: 80px;
  background-color: #eeeff0;
  position: relative;
}

.hd-memo {
  position: absolute;
  display: inline-block;
  color: #000;
  left: 7%;
  top: 28px;
}

.hd-alert p {
  float: right;
  width: 80%;
  color: #db4a5a;
  font-size: 15px;
  margin-top: 20px;
  padding: 0px 10px;
}

.bd {
  padding-top: 20px;
}

.memo {
  text-align: center;
  color: #8c8c8c;
  font-size: 18px;
}

.memo-fa {
  margin-top: -10px;
}

.image-wrapper {
  text-align: center;

  img {
    width: 90%;
  }
}

.button-groups {
  width: 100%;
  margin-top: 20px;
  text-align: center;

  .btn-go, .button-sub-groups {
    width: 90%;
  }

  .btn-go, .btn-test, .btn-result {
    padding: 12px;
  }

  .btn-go {
    background-color: #3d9af7;
    border-color: #3d9af7;
  }

  .btn-test, .btn-result {
    background-color: #3bb9f3;
  }

  .btn-test {
    float: left;
  }

  .btn-result {
    float: right;
  }
}

.button-sub-groups {
  margin-left: 5%;
  height: 60px;

  button {
    width: 45%;
    margin: 5% 0;
    color: #fff;
    @include border-radius(0px);

    &:hover {
      color: #fff;
    }
  }
}

/* modal alert */
.modal {
  top: 2%;
}

.modal-header {
  @include border-top-radius(4px);
  background-color: #3d9af7;

  h3 {
    color: #fff;
  }
}

.modal-body {
  text-align: center;

  img {
    width: 50%;
  }

  img.img-large {
    width: 90%;
  }

  .meta {
    margin-top: 23px;
    color: #9c9c9c;

    .p-bold {
      color: #000;
      font-size: 20px;
    }
  }
}

.modal-footer {
  text-align: center;
  
  .btn-goback {
    width: 90%;
    padding: 10px;
    color: #fff;
    background-color: #3d9af7;
  }
}

.clock {
  color: #1694ce;
}

.p-bold {
  font-size: 18px;
}

/* card style */
md-content {
  margin-top: 10px;
}

.card-wrapper {
  height: 100px;

  .left-card {
    width: 30%;
    float: left;

    img {
      width: 100%;
      height: 75px;
    }

    img.round-conner {
      @include border-radius(50px);
    }

    .btn-show-big-sample {
      width: 100%;
      padding: 0px;
      margin-top: 5px;
      color: #fff;
      background-color: #39464a;
    }
  }

  .right-card {
    width: 70%;
    float: left;
    padding: 0px 20px;

    .hd-result {
      line-height: 1.4;
      font-size: 14px;
    }
    .hd-faild {
      color: red;
    }
    .hd-success {
      color: #0da814;
    }
    .hd-addr {
      font-size: 12px;
      margin-bottom: 0px;
    }
    .hd-date {
      font-weight: bold;
    }
  }
}

.card-hd {
  .left-hd {
    color: #cfcece;
  }
  .right-hd {
    float: right;
  }
}

.card-bd {
  p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }

  .btn-groups {
    width: 110%;
  }

  button {
    position: relative;
    @include border-radius(0px);
    color: #fff;
    width: 80px;
    padding-left: 35px;

    &:hover, &:active, &:visited, &:focus {
      color: #fff;
    }
  }

  button img {
    width: 30%;
    position: absolute;
    left: 8px;
    top: 5px;
  }

  .btn-snap-photo {
    background-color: #3d9af7;
  }

  .btn-resnap-photo {
    background-color: #fb7171;
  }

  .btn-disable {
    background-color: #cacaca;
  }
}

.upload-footer {
  text-align: center;

  p {
    color: #626262;
    font-size: 12px;
    margin-top: 10px;
  }

  .btn-upload {
    width: 95%;
    color: #fff;
    background-color: #3d9af7;
    padding: 10px;
  }
}

#hidden-input {
  width: 0px;
}

/* upload submit modal */
.modal-meta {
  text-align: left;
  text-indent: 2em;
}

.modal-bold {
  color: #1694ce;
  font-weight: bold;
  font-size: 17px;
}

.img-groups img {
  width: 30%;
}

/* mobile page */
.mobile-page {
  span {
    display: block;
    padding: 0px 10px 10px 10px;
    position: relative;

    &.input-label {
      padding-top: 10px;
    }

    input {
      width: 100%;
      height: 30px;
      padding-left: 30px;

      &:focus {
        border: 1px solid #3d9af7;
      }
    }

    img {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 4px;
      left: 15px;
    }
  }

  button {
    color: #fff;
    background-color: #3d9af7;
    width: 100%;
    margin-top: 20px;

    &:hover, &:active, &:focus, &:visited {
      color: #fff;
    }
  }

  .meta-wrapper {
    text-align: center;

    p {
      color: #60add8;
      margin: 15px 10px 10px 0px;

      &.bigger {
        color: #1694ce;
        font-size: 25px;
        margin-top: -15px;
      }
    }
  }
}

/* done */
.content-wrapper {
  p, div {
    text-align: center;
    margin: 0px;
  }

  .bold {
    color: #1694ce;
    font-size: 20px;
  }

  .hd {
    color: #000;
    font-size: 28px;
    padding: 5px;
  }

  .code-wrapper {
    text-align: center;

    .code {
      width: 95%;
      height: 63px;
      margin: auto;
      padding: 20px;
      border: 1px solid #d2d2d2;
      background-color: #fafafa;
    }
  }

  .meta {
    margin-top: 20px;
    text-align: center;

    .btn-submit {
      width: 95%;
      padding: 10px;
      margin-top: 20px;
      color: #fff;
      background-color: #1694ce;

      &:hover, &:active, &:focus, &:visited {
        color: #fff;
      }
    }
  }
}

/* list page */
.list-search-wrapper {
  width: 95%;
  margin: auto;

  p {
    font-size: 16px;
    color: #347fcb;
  }

  .meta {
    margin-top: 10px;
  }

  .search {
    input {
      width: 70%;
      height: 30px;
      margin-left: 1px;
    }
    button {
      height: 30px;
      padding: 4px 12px;
      margin-top: -2px;
      margin-left: -5px;
      color: #fff;
      background-color: #6bb1f6;
      @include border-radius(0px);
    }
  }
}

/* detail page */
.detail-wrapper {
  background-color: #ededed;

  .detail-image-wrapper {
    text-align: center;
    background-color: #fff;

    img {
      width: 30%;
      margin: 5% 1%;
    }
  }

  .content {
    span {
      display: block;
      padding: 10px 5%;
      font-size: 18px;
    }

    .data-span {
      color: #000;
      background-color: #fff;
    }

    .btn-call {
      padding: 6px 20px;
      color: #fff;
      background-color: #1694ce;
      margin-left: 20px;
      @include border-radius(0px);
    }
  }
}
