<div class="doc-container">
  <h3>轻微事故快处微信操作流程说明</h3>
  <div class="content">
    <p>一、发生交通事故后，在安全的情况下打开“山西便民在线”微信公众服务号，在页面功能菜单中找到“轻微事故快处”功能，点击进入，如下图：</p>
    <img src="statics/images/doc/d1.jpg" />
    <p>“功能介绍”可了解轻微快处的微信操作流程。</p>
    <p>“责任划分提示”可引导用户了解负交通事故全部责任的十八种情况。</p>
    <p>二、根据实际情况手动“选择事故车辆数量”，系统默认为2辆车：</p>
    <img src="statics/images/doc/d2.jpg" />
    <p>三、点击“上传照片”进入拍照界面，可点击查看示例图，根据提示依次拍照取证，至少要求3张照片，具体操作如下图所示：</p>
    <img src="statics/images/doc/d3.jpg" />
    <p>四、拍照成功后，填写各方手机号、车牌号并选择投保单位，并确认上传。如下图所示：</p>
    <img src="statics/images/doc/d4.png" />
    <p>五、发送成功后系统返回事故编码，按照提示地点，双方约定在24小时之内一同前往事故快处服务中心进行处理。</p>
    <img src="statics/images/doc/d5.jpg" />

    <button class="btn btn-danger btn-goHome" ng-click="goHome()">返回首页</button>
  </div>
</div>
