<div class="content-wrapper">
  <p class="hd">事故编码</p>
  <div class="code-wrapper">
    <div class="code" ng-if="event.flag == 0">事故已提交成功，请妥善保管好以下事故编码<br><span class="important">{{ event.sgbh }}</span></div>
    <div class="code" ng-if="event.flag == 1">您好，该起事故已于 {{ event.date }} 提交报案成功，事故编码为 {{ event.sgbh }}<br>为确保证据充实，可拍摄更多照片自行保存，以备到快处中心处理时使用。</div>
  </div>
  <div class="meta">
    <p>请双方凭以上事故唯一编号</p>
    <p>在<i class="bold">24小时内</i>约定时间</p>
    <p>一同前往快处中心处理</p>
    <p>可依据该事故编码查询处理结果</p>

    <div class="center-info" data-ng-if="center">
      <p class="center-name">{{ center.name }}</p>
      <p>电话: <a href="tel:{{ center.tel }}">{{ center.tel }}</a></p>
      <p>地址: {{ center.addr }}</p>
    </div>
    <div class="center-info" data-ng-if="fallback">
      <p>事故提交成功</p>
      <p>请到就近的快处中心前往处理</p>
    </div>
    <button class="btn btn-submit" ng-click="goHome()">返回首页</button>
  </div>
</div>
