<div class="mobile-page">
  <md-content class="info-content">
    <md-card ng-repeat="i in counts" data-card-id="{{ i }}">
      <span class="card-hd">{{ numCN[i] }}方</span>
      <form class="form-horizontal" method="POST" action="">
        <div class="form-group">
          <label for="tel" class="form-label">手机号:</label>
          <input type="tel" name="tel" class="form-control" data-validate="required" data-msg="请正确填写手机号"/>
        </div>
        <div class="form-group cphm-form-group">
          <label for="cphm" class="form-label">车牌号码:</label>
          <input type="text" name="cphm" class="form-control cphm-input" data-validate="required" data-msg="请填写车牌号码"/>
          <span>晋</span>
        </div>
        <div class="form-group">
          <label for="bxgs" class="form-label">投保保险:</label>
          <select name="bxgs" class="form-control">
            <option value="中国平安保险">中国平安保险</option>
            <option value="中国人保">中国人保</option>
            <option value="太平洋保险">太平洋保险</option>
            <option value="中国大地财险">中国大地财险</option>
            <option value="中国人寿财险">中国人寿财险</option>
            <option value="其他保险">其他保险</option>
          </select>
        </div>
      </form>
    </md-card>
    <p style="text-align:center;margin-top: 15px; color: red">提示：请双方互拨手机确保准确无误!</p>
    <button class="btn btn-update-mobile" ng-click="goNext()">确认上传</button>
  </md-content>
</div>
