<div class="list-wrapper">
  <div class="list-search-wrapper">
    <p class="meta">以下是您的轻微事故历史纪录</p>
    <p class="meta">请输入车牌号码或手机号码进行查询</p>
    <div class="search">
      <span class="search"><input type="text" name="eventID" placeholder="如AT3242或15843241132" /></span>
      <span class="search-btn"><button class="btn btn-search" data-ng-click="search()">查询</button></span>
    </div>
  </div>

  <md-content>
    <md-card ng-if="events.length == 0">
      暂时没有相关信息
    </md-card>
    <md-card ng-repeat="event in events">
      <div class="card-wrapper" ng-click="showDetail(event.sgbh)">
        <div class="left-card"><img class="round-conner" ng-src="http://www.sxgajj.gov.cn{{ event.imgs[0].thumb }}" alt="event img" /></div>
        <div class="right-card">
          <p class="hd-result hd-faild">已提交，请前<br />往事故快速处理中心处理</p>
          <p class="hd-date">{{ event.date }}</p>
        </div>
      </div>
    </md-card>
    <button class="btn btn-danger btn-goHome" ng-click="goHome()" style="width:90%;margin:5%;">返回首页</button>
  </md-content>
</div>
