<div class="hd-alert">
  <span class="hd-memo">提示</span>
  <p>为确保安全请放置警示标志、开启双闪灯、注意过往车辆。</p>
</div>
<div class="bd">
  <img class="bd-banner" src="statics/images/bd-banner.png" alt="轻微事故快处"/>
  <p class="memo">适用于</p>
  <p class="memo memo-fa"><i class="fa fa-chevron-down"></i></p>
  <div class="image-wrapper">
    <img src="statics/images/features.png" alt="轻微事故快处功能" />
  </div>
  <div class="button-groups">
    <button class="btn btn-primary btn-go">开始处理</button>
    <div class="button-sub-groups">
      <button class="btn btn-test">测试体验</button>
      <button class="btn btn-result">查询结果</button>
    </div>
  </div>
</div>
