<div>
  <div class="hd-alert">
    <span class="hd-memo">安全提示:</span>
    <p>为确保安全请放置警示标志、开启双闪灯、注意过往车辆。</p>
  </div>
  <div class="bd">
    <img class="bd-banner" src="statics/images/bd-banner.png" alt="轻微事故快处"/>
    <div class="image-wrapper">
      <span>适用范围</span>
      <img src="statics/images/features.png" alt="轻微事故快处功能" />
    </div>
    <div class="button-groups">
      <div class="button-sub-groups">
        <button class="btn btn-doc" ng-click="goHash('/doc')">功能介绍</button>
        <button class="btn btn-info" ng-click="showModal3()">快处信息</button>
        <button class="btn btn-doc" ng-click="showModal2()">责任划分</button>
        <button class="btn btn-info" ng-click="goHash('/list')">查询结果</button>
      </div>
      <button class="btn btn-primary btn-go" ng-click="go()">开始处理</button>
    </div>
  </div>

  <script type="text/ng-template" id="modal-alert">
    <div class="modal-header">
      <h3 class="modal-title">使用提示</h3>
    </div>
    <div class="modal-body">
      <img src="statics/images/clock.png" alt="clock img" />
      <div class="meta">
        <p>"快处中心"受理时间为</p>
        <p class="p-bold">早<i class="clock">7</i>点至晚<i class="clock">21</i>点</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-goback" ng-click="dismiss()">返回</button>
    </div>
  </script>
  <script type="text/ng-template" id="modal-alert3">
    <div class="modal-header">
      <h3 class="modal-title">快处信息</h3>
    </div>
    <div class="modal-body">
      <div class="block">
        <h3>南内环东街快处快赔中心</h3>
        <p><a href="tel:0351-6161619">0351-6161619</a></p>
        <p>太原市迎泽区南内环街与建设路交叉口往东800米（山西荣达汽修有限公司厂区内）</p>
      </div>
      <div class="block">
        <h3>滨河西路快处中心快赔中心</h3>
        <p><a href="tel:0351-6181111">0351-6181111</a></p>
        <p>太原市晋源区新晋祠路686号（太原市极限汽车修理有限公司厂区内）</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-goback" ng-click="dismiss()">返回</button>
    </div>
  </script>
  <script type="text/ng-template" id="modal-alert2">
    <div class="modal-header">
      <h3 class="modal-title">责任划分提示</h3>
    </div>
    <div class="modal-body" style="text-align: left">
      <pre><span style="color:red">根据《山西省机动车小额财损交通事故快速理赔办法（试行）》的规定，当事人对事故责任及赔付事宜进行协商应参照以下原则：一方当事人有下列情形之一，另一方当事人无下列情形的，有下列情形的一方为全部责任：</span>
  1、追尾的； 
  2、倒车或溜车的； 
  3、开关车门的； 
  4、违反交通信号的； 
  5、闯禁行或逆行的。
  不符合以上情况或事故责任难以认定的，当事各方负事故共同责任，共同责任不划分各方责任大小。
      </pre>
    </div>
    <div class="modal-footer">
      <button class="btn btn-goback" ng-click="dismiss()">返回</button>
    </div>
  </script>
</div>
