<div>
  <md-content>
    <div class="upload-cards">
      <md-card>
        <div class="card-wrapper">
          <div class="left-card">
            <img class="thumb-img" alt="车前方" src="./statics/images/p1.png" id="p1-img" />
            <button class="btn btn-show-big-sample" ng-click="showBig(1)">查看示例图</button>
          </div>
          <div class="right-card">
            <div class="card-hd">
              <span class="left-hd">要求说明</span>
              <span class="right-hd">照片1</span>
              <input type="hidden" id="p1-data-url" name="p1-data-url" value="" />
              <input type="hidden" id="p1-data-thumb" name="p1-data-thumb" value="" />
            </div>
            <div class="card-bd">
              <p>前车前方5米处拍前景</p>
              <div class="btn-groups btn-groups-1">
                <button class="btn btn-snap-photo" ng-click="snap(1)"><img alt="snap" src="./statics/images/snap.png" />拍照</button>
                <button class="btn btn-resnap-photo" ng-click="snap(1)"><img alt="resnap" src="./statics/images/resnap.png" />重拍</button>
              </div>
            </div>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="card-wrapper">
          <div class="left-card">
            <img class="thumb-img" alt="车后方" src="./statics/images/p2.png" id="p2-img" />
            <button class="btn btn-show-big-sample" ng-click="showBig(2)">查看示例图</button>
          </div>
          <div class="right-card">
            <div class="card-hd">
              <span class="left-hd">要求说明</span>
              <span class="right-hd">照片2</span>
              <input type="hidden" id="p2-data-url" name="p2-data-url" value="" />
              <input type="hidden" id="p2-data-thumb" name="p2-data-thumb" value="" />
            </div>
            <div class="card-bd">
              <p>后车后方5米处拍后景</p>
              <div class="btn-groups btn-groups-2">
                <button class="btn btn-snap-photo btn-disable" ng-click="snap(2)"><img alt="snap" src="./statics/images/snap.png" />拍照</button>
                <button class="btn btn-resnap-photo btn-disable" ng-click="snap(2)"><img alt="resnap" src="./statics/images/resnap.png" />重拍</button>
              </div>
            </div>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="card-wrapper">
          <div class="left-card">
            <img class="thumb-img" alt="车侧面" src="./statics/images/p3.png" id="p3-img" />
            <button class="btn btn-show-big-sample" ng-click="showBig(3)">查看示例图</button>
          </div>
          <div class="right-card">
            <div class="card-hd">
              <span class="left-hd">要求说明</span>
              <span class="right-hd">照片3</span>
              <input type="hidden" id="p3-data-url" name="p3-data-url" value="" />
              <input type="hidden" id="p3-data-thumb" name="p3-data-thumb" value="" />
            </div>
            <div class="card-bd">
              <p>中间侧面处拍碰撞部位</p>
              <div class="btn-groups btn-groups-3">
                <button class="btn btn-snap-photo btn-disable" ng-click="snap(3)"><img alt="snap" src="./statics/images/snap.png" />拍照</button>
                <button class="btn btn-resnap-photo btn-disable" ng-click="snap(3)"><img alt="resnap" src="./statics/images/resnap.png" />重拍</button>
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
    <div class="add-another-photo" data-ng-click="addAnotherPhoto()">
      <i class="fa fa-plus"></i>
    </div>
  </md-content>
  <div class="upload-footer">
    <p style="color:red">提示：为保证证据充足，可点击'+'拍摄双方证件合照及事故场景等更多现场照片</p>
    <button class="btn btn-upload" ng-click="goNext()">上传照片</button>
  </div>
  <script type="text/ng-template" id="modal-alert">
    <div class="modal-header">
      <h3 class="modal-title">查看</h3>
    </div>
    <div class="modal-body">
      <img class="img-large" src="{{ modalImgSrc }}" alt="img" />
    </div>
    <div class="modal-footer">
      <button class="btn btn-goback" ng-click="dismiss()">返回</button>
    </div>
  </script>
  <script type="text/ng-template" id="modal-submit-alert">
    <div class="modal-header">
      <h3 class="modal-title">异常</h3>
    </div>
    <div class="modal-body">
      <p class="modal-meta">请按照要求，对事故现场分前、后、侧三个方向拍照，最好包括驾驶人与车辆的照片。</p>
      <p class="modal-bold">远景、中景、近景一张都不能少</p>
      <div class="img-groups">
        <img alt="车前方" src="./statics/images/p1.png" id="p1-img" />
        <img alt="车后方" src="./statics/images/p2.png" id="p2-img" />
        <img alt="车侧面" src="./statics/images/p3.png" id="p3-img" />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-goback" ng-click="dismiss()">返回</button>
    </div>
  </script>
  <input type="file" id="hidden-input" accept="image/*" capture="camera" />
</div>

<script type="text/template" id="photo-card">
<md-card>
  <div class="card-wrapper">
    <div class="left-card">
      <img class="thumb-img" alt="补充照片" src="./statics/images/p4.png" id="p<%= i %>-img" />
    </div>
    <div class="right-card">
      <div class="card-hd">
        <span class="left-hd">要求说明</span>
        <span class="right-hd">照片<%= i %></span>
        <input type="hidden" id="p<%= i %>-data-url" name="p<%= i %>-data-url" value="" />
        <input type="hidden" id="p<%= i %>-data-thumb" name="p<%= i %>-data-thumb" value="" />
      </div>
      <div class="card-bd">
        <p>补充照片</p>
        <div class="btn-groups btn-groups-<%= i %>">
          <button class="btn btn-snap-photo" ng-click="snap(<%= i %>)"><img alt="snap" src="./statics/images/snap.png" />拍照</button>
          <button class="btn btn-resnap-photo" ng-click="snap(<%= i %>)"><img alt="resnap" src="./statics/images/resnap.png" />重拍</button>
        </div>
      </div>
    </div>
  </div>
</md-card>
</script>
